.git
.github
.idea
.vscode
.DS_Store

bin/*
!bin/lightkite-amd64
!bin/lightkite-arm64
kite
lightkite
static
*.db

charts
deploy
docs
e2e
scripts

ui/node_modules
ui/dist
ui/coverage
ui/.vite

**/test-results
**/playwright-report
**/*.log
